Repository eclipse/steady, pull requests merged in 2018-11, with the labels that each got.

#44 Enable docker on Travis
  .travis.yml
  .travis/.env
  .travis/check.sh
  docker/patch-lib-analyzer/run.sh
  docker/postgresql/Dockerfile
  docker/postgresql/docker-entrypoint-initdb.d/10-vulas-setup.sh
  docker/postgresql/run.sh
  docker/rest-backend/run.sh
Labels: docker, enhancement

#50 Intersect endpoint now returns 404 if cannot download
  rest-lib-utils/src/main/java/com/sap/psr/vulas/cia/rest/ArtifactController.java
  rest-lib-utils/src/test/java/com/sap/psr/vulas/cia/rest/IT01_ArtifactControllerTest.java
  rest-lib-utils/src/test/java/com/sap/psr/vulas/cia/rest/IT02_SpringControllerTest.java
Labels: patch-lib-analyzer

#55 Use placeholder in search input
  frontend-apps/src/main/webapp/i18n/messageBundle.properties
  frontend-apps/src/main/webapp/view/Component.controller.js
  frontend-apps/src/main/webapp/view/Component.view.xml
Labels: frontend
