Repository eclipse/steady, pull requests merged in 2019-06, with the labels that each got.

#187 Replace tomcat:9-slim with jetty:alpine
  docker/frontend-apps/Dockerfile
  docker/frontend-apps/conf/settings.xml
  docker/frontend-apps/conf/tomcat-users.xml
  docker/frontend-bugs/Dockerfile
  docker/frontend-bugs/conf/settings.xml
  docker/frontend-bugs/conf/tomcat-users.xml
Labels: docker

#192 Frontend-apps improvements
  frontend-apps/src/main/webapp/index.html
  frontend-apps/src/main/webapp/model/Config.js
  frontend-apps/src/main/webapp/view/BugDetail.controller.js
  frontend-apps/src/main/webapp/view/BugDetail.view.xml
  frontend-apps/src/main/webapp/view/Component.controller.js
  frontend-apps/src/main/webapp/view/Component.view.xml
Labels: frontend

#198 Remove the dependency on X-Vulas-Echo header
  frontend-apps/src/main/webapp/view/ArchiveDetail.controller.js
  frontend-apps/src/main/webapp/view/Component.controller.js
  rest-backend/src/main/java/com/sap/psr/vulas/backend/rest/ApplicationController.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/rest/LibraryIdController.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/util/HeaderEcho.java
Labels: frontend

#207 Publish the generator image to Docker registries
  docker/push-images.sh
  docs/public/content/admin/tutorials/docker.md
Labels: docker, docs

#209 Frontend performance
  frontend-apps/src/main/webapp/i18n/messageBundle_en_US.properties
  frontend-apps/src/main/webapp/index.html
Labels: frontend

#208 Collect LibraryIds of bundled pom.xml files
  frontend-apps/src/main/webapp/model/Config.js
  frontend-apps/src/main/webapp/model/Formatter.js
  frontend-apps/src/main/webapp/view/ArchiveDetail.view.xml
  frontend-apps/src/main/webapp/view/BugDetail.controller.js
  frontend-apps/src/main/webapp/view/BugDetail.view.xml
  frontend-apps/src/main/webapp/view/Component.controller.js
  frontend-apps/src/main/webapp/view/Component.view.xml
  lang-java/pom.xml
  lang-java/src/main/java/com/sap/psr/vulas/java/ArchiveAnalysisManager.java
  lang-java/src/main/java/com/sap/psr/vulas/java/JarAnalyzer.java
  lang-java/src/main/java/com/sap/psr/vulas/java/JavaFileAnalyzer2.java
  lang-java/src/main/java/com/sap/psr/vulas/java/PomParser.java
  lang-java/src/main/java/com/sap/psr/vulas/java/tasks/JavaBomTask.java
  lang-java/src/test/java/com/sap/psr/vulas/java/JarAnalyzerTest.java
  lang-java/src/test/java/com/sap/psr/vulas/java/JarWriterTest.java
  lang-java/src/test/java/com/sap/psr/vulas/java/PomParserTest.java
  lang-java/src/test/resources/examples.jar
  lang/src/main/java/com/sap/psr/vulas/backend/requests/PutLibraryCondition.java
  plugin-maven/src/main/java/com/sap/psr/vulas/mvn/AbstractVulasMojo.java
  plugin-maven/src/test/java/com/sap/psr/vulas/mvn/AbstractVulasMojoTest.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/model/Dependency.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/model/Library.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/model/VulnerableDependency.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/AffectedLibraryRepositoryCustom.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/AffectedLibraryRepositoryImpl.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/ApplicationRepository.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/ApplicationRepositoryCustom.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/ApplicationRepositoryImpl.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/BugRepository.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/DependencyRepository.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/LibraryRepository.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/LibraryRepositoryImpl.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/rest/ApplicationController.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/util/DependencyUtil.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/util/ReferenceUpdater.java
  rest-backend/src/main/resources/db/migration/V20190613.1700__bundledLibraryIds.sql
  rest-backend/src/test/java/com/sap/psr/vulas/backend/rest/ApplicationControllerTest.java
  rest-backend/src/test/java/com/sap/psr/vulas/backend/rest/HubIntegrationControllerTest.java
  rest-backend/src/test/java/com/sap/psr/vulas/backend/rest/LibraryControllerTest.java
  rest-backend/src/test/resources/dummy_app/app_parent.json
  rest-backend/src/test/resources/real_examples/bug_CVE-2018-12023.json
  rest-backend/src/test/resources/real_examples/lib_bundledLibIds.json
  rest-backend/src/test/resources/real_examples/lib_commons-fileupload-1.2.2.json
  rest-backend/src/test/resources/real_examples/lib_jackson-databind-2.9.5.json
  shared/src/main/java/com/sap/psr/vulas/shared/enums/VulnDepOrigin.java
  shared/src/main/java/com/sap/psr/vulas/shared/json/model/Application.java
  shared/src/main/java/com/sap/psr/vulas/shared/json/model/Dependency.java
  shared/src/main/java/com/sap/psr/vulas/shared/json/model/Library.java
  shared/src/main/java/com/sap/psr/vulas/shared/json/model/LibraryId.java
Labels: enhancement
