Repository eclipse/steady, pull requests merged in 2019-07, with the labels that each got.

#215 Add cursor pointer to cells and add vertical padding to cells
  frontend-apps/src/main/webapp/css/style.css
  frontend-apps/src/main/webapp/view/ArchiveDetail.view.xml
  frontend-apps/src/main/webapp/view/Component.controller.js
  frontend-apps/src/main/webapp/view/Component.view.xml
Labels: frontend

#226 FP for rebundled libraries
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/AffectedLibraryRepositoryImpl.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/ApplicationRepositoryImpl.java
  rest-backend/src/main/java/com/sap/psr/vulas/backend/repo/DependencyRepository.java
Labels: wip

#243 Load CVEs asynchronously
  .gitignore
  frontend-bugs/src/main/webapp/css/style.css
  frontend-bugs/src/main/webapp/index.html
  frontend-bugs/src/main/webapp/view/Component.controller.js
  frontend-bugs/src/main/webapp/view/Component.view.xml
Labels: frontend-bugs
